.projects{
    background-color: #4e54c8;
    color: white;
    text-align: center;
    padding: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.projects h1{
    padding-bottom:1rem;
}
.projects hr{
    margin-top:2.5rem;
    margin-bottom:2.5rem;
}

@media screen and (max-width: 500px) {
    .projects{
        padding: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}